<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <!-- <h1>{{title}}..</h1> -->
            <p>This is robot and the data is comming from mapbox.com and weatherforecast.</p>
            <img class="portrait" src="/img/robot.png">
        </div>

        {{>footer}}
        <!-- <p>Created by {{name}}</p> -->
    </body>
</html>